<div class='main-container'>
  <form class='form-circle'>
    <h1 class='forgot-password-title'>Mot de passe oublié?</h1>
    <p class='forgot-password-para'>Entrez votre adresse e-mail ci-dessous</p>
    <p class='forgot-password-para'>et nous vous remettrons sur la bonne voie!</p>
    <mat-form-field class="forgot-password input-position">
      <input matInput type='email' [formControl]='email' placeholder='Email' required>
      <mat-error *ngIf="email.hasError('email') || email.hasError('required')">
        {{getErrorMessageEmail()}}
      </mat-error>
    </mat-form-field>
    <mat-label class="forgot-password-error-message">{{forgotPasswordMessage}}</mat-label>
    <button mat-button (click)='sendMail()' class='input-button' value='ForgotPassword'>
      ENVOYEZ-MOI RÉINITIALISER LE MOT DE PASSE
    </button>
    <a [routerLink]="['/login/']" class='text'>Connexion</a>
  </form>
</div>
