<button mat-icon-button (click)="drawer.toggle()" xmlns="http://www.w3.org/1999/html">
  <mat-icon>menu</mat-icon>
</button>







<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" >
    <mat-nav-list>
      <div class="profile-card" style="margin-right: 1000px">

        <img src="../../../assets/image/000.jpg" style="height: 170px;width:210px" >
        <h4><span style="margin-left: 44px">{{currentUser.email}}</span></h4>
      </div>

      <mat-divider></mat-divider>

      <h2 matSubheader>Pages</h2>

      <a mat-list-item href="/tout" routerLink="/tout">Toutes les stages</a>
      <a mat-list-item href="/fiches" routerLink="/fiches">Toutes les fiches</a>

      <a mat-list-item href="/list1" routerLink="/list1">Affecter-Encadrant </a>
      <a mat-list-item href="/list2" routerLink="/list2">Affecter Rapporteur </a>
      <a mat-list-item href="/allAvis" routerLink="/allAvis">Reclamations </a>
      <a mat-list-item a href="/pie" routerLink="/pie">Statistique </a>
      <a mat-list-item  a href="/recherche" routerLink="/recherche">Rechercher</a>
      <a mat-list-item  a href="/validation" routerLink="/validation">Valider stage</a>


      <mat-divider></mat-divider>

      <h2 matSubheader>Tools</h2>


    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content" style="margin-top: -1000px">

  </div>
  <div class="card"  style="margin-left: 10px; width: 1520px;margin-top: 266px">

    <p-table #dt [value]="t1" [rows]="10" [paginator]="true"
             [globalFilterFields]="[  'titre',
      'problm',
      'fonct',
      'description',
      'techno'
]"
             [rowHover]="true" dataKey="id"

             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between ">
                <span class="p-input-icon-left ">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="        Rechercher..." />
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="theme">Etudiant
            <p-sortIcon field="theme"></p-sortIcon>
          </th>
          <th pSortableColumn="dateDebut">Titre projet
            <p-sortIcon field="dateDebut"></p-sortIcon>
          </th>
          <th pSortableColumn="dateFin">Description
            <p-sortIcon field="dateFin"></p-sortIcon>
          </th>
          <th pSortableColumn="dateFin">Statut
            <p-sortIcon field="dateFin"></p-sortIcon>
          </th>
          <th pSortableColumn="dateFin">Date de mise
            <p-sortIcon field="dateFin"></p-sortIcon>
          </th>
          <th pSortableColumn="statut">Accepter
            <p-sortIcon field="statut"></p-sortIcon>
          </th>
          <th pSortableColumn="etat">Rejecter
            <p-sortIcon field="etat"></p-sortIcon>
          </th>


          <th>
            <i class="pi pi-angle-double-down" style="font-size: 2rem"></i>

          </th>
          <th pSortableColumn="supp">
          <span class="material-icons">
get_app
</span>
          </th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-s>
        <tr  >


          <td>{{s?.stagiaire?.email}}</td>
          <td>{{s?.titre}}</td>
          <td>{{s?.description}}</td>
          <td>{{s?.status}}</td>
          <td>{{s?.put}}</td>
          <td>
            <a class="btn btn-success" (click)="onEdit(s)"><div class="fa fa-fw fa-eraser"></div>Accepter</a>
          </td> <td>
          <a class="btn btn-danger" (click)="onReject(s)" style="background-color: orange"><div class="fa fa-fw fa-eraser"></div>Rejecter</a>
        </td>
          <td>
            <a class="btn btn-warning" (click)="ooshow()"><div class="fa fa-fw fa-eraser"></div>Détailles</a>
            <p-dialog  header="Title" [style]="{width: '600px'}" [(visible)]="display">
              <p-accordion>
                <p-accordionTab header="Encadrant">
                  {{s?.enseig_stage?.email}}
                </p-accordionTab>
                <p-accordionTab header="Nom_stagiaire">
                  {{s?.stagiaire?.username}}
                </p-accordionTab>


               <p-accordionTab header="Statut">

                  {{s.status}}
                </p-accordionTab>
                <p-accordionTab header="Problematique">
                  {{s.problm}}
                </p-accordionTab>
                <p-accordionTab header=" Fonctionnalités ">

           fonct1 :       {{s.fonctionnality}}
                  <br>
                  fonct2 :     {{s.f1}}
                  <br>
                  fonct3 :     {{s.f2}}
                  <br>
                  fonct4 :     {{s.f3}}
                </p-accordionTab>

                <p-accordionTab header="Technologies">

                  Tech1 :  {{s?.techno}}
                  <br>
                  Tech2 :   {{s?.t1}}
                  <br>
                  Tech3 :    {{s?.t2}}
                  <br>
                  Tech4 :   {{s?.t3}}
                </p-accordionTab>

              </p-accordion>

            </p-dialog>   </td>
          <td>
            <a class="btn btn-primary" (click)="downloadFile(s.id)" style="background-color: cadetblue" ><div class="fa fa-fw fa-eraser"></div>pdf</a>
          </td>





        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          Au total, il y a {{t1 ? t1.length : 0 }} convention(s).
        </div>
      </ng-template>
    </p-table>









    <p-dialog  [(visible)]="display1" [style]="{width: '450px'} "   [modal]="true" styleClass="p-fluid" >
         <div class="container">


          <div class="panel-body" *ngIf="currentprod" >
            <form *ngIf="!isSuccessful"
                  name="form"
                  (ngSubmit)="f.form.valid && onupdateprod()"
                  #f="ngForm"
                  novalidate>
              <div class="form-group">
                <label class="control-label"> Encadrant</label>
                <select  [(ngModel)]="userMail" name="categorie" >
                  <option *ngFor="let enc of users" [value]="enc.email"  >
                    {{enc.email}}
                  </option>
                </select>

              </div>

              <button class="btn btn-success" type="submit" >update</button>
              <br> <br>
            </form>
          </div>
          <div [style]="{width: '300px'}"  >
            <br><br><br>

          </div>
        </div>

    </p-dialog>




    <p-dialog  [(visible)]="rej" [style]="{width: '450px'} "   [modal]="true" styleClass="p-fluid" [baseZIndex]="70000">
      <div class="container">

        <div class="panel-body" *ngIf="currentprod" >
   <form
                  name="form"
                  (ngSubmit)="f.form.valid && onEnvoi()"
                  #f="ngForm"
                  novalidate>
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <mat-label>Motif</mat-label>
                  <textarea
                    matInput   #ade="ngModel" required
                         minlength="3"
                         maxlength="2000"  name="ade" ngModel
                            [(ngModel)]="text"></textarea>

                </mat-form-field>
              </div>
              <button class="btn btn-success" type="submit" (click)="onEnvoi()">update</button>
              <br> <br>
            </form>
          </div>
          <div [style]="{width: '300px'}"  >
            <br><br><br>

          </div>
        </div>

    </p-dialog>

  </div>



</mat-drawer-container>
