<div class="container"> <!-- Links -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img src="../../../assets/image/dddd.png" style=" height: 150px;width: 210px;">

    </div>
<hr>
    <ul class="list-unstyled components">

      <li>
        <a href="/convention" routerLink="/convention">Convention </a>

      </li>
      <li>
        <a href="/fiche" routerLink="/fiche">Fiche-pfe </a>

      </li>
      <li>
        <a href="/upload" routerLink="/upload">PFE </a>
      </li>
      <li>
        <a href="/plagiat" routerLink="/plagiat">Plagiat </a>
      </li>
      <li>
        <a href="/noteti" routerLink="/noteti">Note PFE</a>
      </li>
      <li>
        <a href="/avis" routerLink="/avis">Reclamation</a>
      </li>


    </ul>



  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">

          <img src="../../../assets/image/rec.jpg" style="margin-top: -291px ;width: 1170px;height:620px;">

        </div>

      </div>
    </nav>


  </div>
</div>





