<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron" style="width: 1480px;height: 600px;background-color: ghostwhite;margin-left: -180px">
    <br><br><h1><span style="margin-top: 40px;margin-left: 350px;color: steelblue"><strong>** Informations personnelles **</strong></span>
  </h1><br>
    <img src="../assets/image/profilee.png" style="margin-top: 90px" width="250px" height="250px" >
    <br>
    <div style="margin-left: 340px;margin-top: -250px">
    <h3><br>
      <strong style="color: cadetblue">Nom :</strong>{{ currentUser.username }}
    </h3>
    <p>
      <h3>
      <strong style="color: cadetblue">Email:</strong>
      {{ currentUser.email }}
  </h3>

    <p><h3>
      <strong style="color: cadetblue">Télephone:</strong>
      {{ currentUser.telephone }}
</h3>


    <strong style="color: cadetblue">Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
    </div>    </header>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
