<br><br><br><br>
<h2>
</h2>

<div class="container"> <!-- Links -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img src="../../../assets/image/dddd.png" style=" height: 150px;width: 210px;">

    </div>

    <ul class="list-unstyled components">

      <li>
        <a href="/convention" routerLink="/convention">Convention </a>

      </li>
      <li>
        <a href="/fiche" routerLink="/fiche">Fiche-pfe </a>

      </li>
      <li>
        <a href="/upload" routerLink="/upload">PFE </a>
      </li>
      <li>
        <a href="/plagiat" routerLink="/plagiat">Plagiat </a>
      </li>
      <li>
        <a href="/noteti" routerLink="/noteti">Note PFE</a>
      </li>
      <li>
        <a href="/avis" routerLink="/avis">Reclamation</a>
      </li>


    </ul>




  </nav>

  <!-- Page Content Holder -->
  <div id="contente">

    <td class="panel-body" id ="child-left"><br><br>
      <div class="col-xl-12"></div>
      <div class="col-xl-12" style=" width:1100px;color: dimgray;">
        <div style="background-color: cornflowerblue">
          <div class="card" style="border: none; background-color:white">
            <div class="card-body" style="margin-top: 20px;background-color: white">
              <br> <h1><span style=" margin-left:450px;color: darkcyan;width: 40px"><i> Note(s) du stage</i></span></h1>
              <img src="../../../assets/image/nn.png" style="margin-top: 120px;
              margin-left: 800px;width: 210px;">

              <div style="margin-top: -190px;height: 300px" >

  <table class="example-full-width" cellspacing="0">
                <tr >
                  <td>
                    <mat-form-field class="example-full-width">
                      <mat-label>Note-esprit</mat-label>
                      <input type="text" matInput value="{{t1.note_univ}}"  >

                    </mat-form-field>


                  </td><br><br>
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                      <mat-label>Note-rapporteur</mat-label>
                      <input type="text" matInput  value="{{t1.note_rap
}}">

                    </mat-form-field>

                </tr><tr><td>
                <mat-form-field class="example-full-width">
                  <mat-label>Note-jury</mat-label>
                  <input type="text" matInput  value="{{t1.note_jury}}">

                </mat-form-field>



              </tr></table>
</div>
            </div></div></div></div>
    </td>
  </div>
</div>
