<button mat-icon-button (click)="drawer.toggle()" xmlns="http://www.w3.org/1999/html">
  <mat-icon>menu</mat-icon>
</button>







<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" >
    <mat-nav-list>
      <div class="profile-card" style="background-color:#0D3c73;margin-right: 1000px">

        <img src="../../../assets/img/second-portfolio-big.jpg" style=" margin-left:40px;height: 220px;height: 110px" >
        <br><br>    <h4><span style="margin-left: 44px">{{currentUser.email}}</span></h4>
      </div>

      <mat-divider></mat-divider>

      <h2 matSubheader>Pages</h2>

      <a mat-list-item href="/cv" routerLink="/cv">Toutes les stages</a>
      <a mat-list-item href="/nt" routerLink="/nt">Toutes les fiches</a>

      <mat-divider></mat-divider>

      <h2 matSubheader>Tools</h2>


    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content" style="margin-top: -800px">

  </div>

</mat-drawer-container>

